App/build
App/Pods
App/output
App/App/public
App/App/public 3
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml

# Cordova plugins
capacitor-cordova-ios-plugins

# User / IDE files
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
.DS_Store
.idea/
.vscode/
